body, html{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Calibri, Arial, sans-serif;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.header{
    padding-bottom:  2em;
}

.header .logo{
    float: left;
    width: 35%;
    max-width: 100%;
}

.header .header-text{
    float: right;
    width: 60%;
    text-align: center;
    padding-top: 1em;
}

.header .header-text-title{
    color: #ff0000;
    font-size: 1.8em;
    font-weight: bold;
}

.header .header-text p{
    font-size: 0.8em;
    line-height: 1em;
    max-width: 90%;
    margin: 0.5em auto 0 auto;
}

.permit-number{
    text-align: right;
    margin: 2em 0;
}

.permit-number-content{
    display: inline-block;
    border: 1px solid #000000;
    padding: 0.2em 0.5em;
    font-size: 1em;
    font-weight: bold;
}

h2{
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5em;
    font-size: 1.3em;
    margin: 2em 0 0 0;
}

table{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table tbody td, table th{
    border: 1px solid #000000;
    padding: 0.7em;
    text-align: left;
    font-size: 0.9em;
}

table  thead th{
    font-size: 1.5em;
}

table tbody th{
    vertical-align: top;
}

table table{
    width: 100%;
}

table td td{
    border: 0;
    border-left: 1px solid #000000;
    padding: 1em 0;
}

.note{
    color: red;
    font-style: italic;
    padding: 1em 0 1em 1em;
    line-height: normal;
}

ol ul, ul ul{
    margin: 0.2em 0 0.5em 0;
    padding-top: 0;
}

li{
    padding: 0.3em 0;
}

li li{
    padding: 0.2em 0;
}

.bordered-box{
    border: 1px solid #000000;
    border-top: 0;
    padding: 0.7em;
}

@page {
    margin: 50px 30px 50px 30px;
    font-size: 16px;

    @bottom-right {
        content: counter(page) " of " counter(pages);
    }
}
